//.icons {
    //height: 200px;
//    width: 80px;
//    background-color: powderblue;
//}
#forecast {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 225px;
  left: 100px;
}

.weather-image {
    display: inline-block;
    height: 80px;
    width: 100px;
    background-image: url('../images/default.gif') center center;
    &.rain {
        background-image: url('../images/rain.gif');
    }
    &.clear {
        background-image: url('../images/clear.gif');
    }
    &.snow {
        background-image: url('../images/snow.gif');
    }
}
.col-sm-2 {
  background-color: rgba(112, 186, 229, .4)
}
.icons {
  background-clip: content-box;
  border-radius: 25px;
  border: 5px solid rgba(52, 22, 114, .5);
}
#daily {
  width: 15%;
  border-radius: 25px;
  border: 5px solid rgba(52, 22, 114, .5);
  padding: 15px;
  margin: 5px;
  background-color: rgba(100, 186, 229, .4);
}
