<div class="container">
  <p>This is the forecast view.</p>

  <h1>5-day Forecast for {{forecastData.city.name}} {{forecastData.city.country}}</h1>
</div>

<div id="forecast" class="container" style="width:100%">
  <dl id="daily" class="col-sm-2" ng-repeat="prediction in forecastData.list">
    <dt><span class="smaller">Forecast for</span> {{prediction.dt*1000 | date:'MMM dd, yyyy'}}</dt>

    <!--Start Insert a gif into forecast  -->
    <dd><span class="weather-image" ng-class="{{'getWeatherImage(prediction.weather[0].main)'}}"></span></dd>
    <!--END Insert a gif into forecast  -->

    <dd>{{prediction.weather[0].main}}</dd>
    <!-- <dd>{{prediction.weather[0].description}}</dd>  -->
    <dt>Temperature</dt>
    <dd><span class="smaller">Min: </span>{{prediction.temp.min}}&deg;F <span class="smaller">Max: </span>{{prediction.temp.max}}&deg;F</dd>
  </dl>
</div>
The number of photos shown is, {{pics.photos.photo.length}}


<!--Start Flickr Photos//////////////////////////-->
<div ng-if="pics.photos.photo.length>1" class="masonryContaner">
  <h1>Images of {{forecastData.city.name}}</h1>
  <div class="masonryContaner" ng-controller="ForecastCtrl">
    <div class="photos" id="masonry" ng-repeat="photo in pics.photos.photo">
      <img ng-src="{{photo.url_l}}">
    </div>
  </div>
</div>
<!--End Flickr Photos//////////////////////////-->



<div id="nav-subnav" class="navbar navbar-default sub-nav" role="navigation">
  <div class="container-fluid my-buttons">
    <div class="navbar-header">

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

    </div>

    <div class="collapse navbar-collapse" id="js-navbar-collapse">

      <a ng-href="#/current/{{cityID}}" class="btn btn-lg btn-primary">View Current Weather</a>
    </div>
  </div>
</div>
