<!--<div class="header" class="viewcurrent">
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#/">Home</a></li>
          <li><a ng-href="#/about">About</a></li>
          <li><a ng-href="#/current/{{cityID}}">View Current Weather</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>-->

<div id="head" class="container">
  <p>This is the forecast view.</p>

<h1>5-day Forecast for {{forecastData.city.name}} {{forecastData.city.country}}</h1>
</div>

<div id="forecast" class="container" style="width:100%">
<dl id="daily" class="col-sm-2" ng-repeat="prediction in forecastData.list" class="weather-forecast">
    <dt><span class="smaller">Forecast for</span> {{prediction.dt*1000 | date:'MMM dd, yyyy'}}</dt>
    <!--Start Insert a gif into forecast  -->
    <dd><span class="weather-image" ng-class="{{'getWeatherImage(prediction.weather[0].main)'}}"></span></dd>
    <!--END Insert a gif into forecast  -->

    <dd>{{prediction.weather[0].main}}</dd>
    <!-- <dd>{{prediction.weather[0].description}}</dd>  -->
    <dt>Temperature</dt>
    <dd><span class="smaller">Min: </span>{{prediction.temp.min}} &deg;F <span class="smaller">Max: </span>{{prediction.temp.max}} &deg;F</dd>
</dl>
</div>
pics.length={{pics.photos.photo.length}}





<!--Start Flickr Photos//////////////////////////-->
<div ng-if="pics.photos.photo.length>1" class="masonryContaner">
  <h1>Images of {{forecastData.city.name}}</h1>
  <div class="masonryContaner" ng-controller="ForecastCtrl">

    <div class="photos" id="masonry" class="container-fluid" ng-repeat="photo in pics.photos.photo">
  <!--
      If this is put in the div, it'll show all the data comming from OWM
      <p ng-if="$index > 0" <h1>{{photo}}</h1>>

      This will show the title & index #
      <h1> the title is {{photo.title}} {{$index}}</h1>
  -->
      <img ng-src={{photo.url_l}}>

    </div>
  </div>

</div>
<!--End Flickr Photos//////////////////////////-->



  <div id="nav-subnav" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid" class="container">
      <div class="navbar-header">

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      </div>

      <div class="collapse navbar-collapse" id="js-navbar-collapse">

          <a ng-href="#/current/{{cityID}}" class="btn btn-lg btn-primary">View Current Weatherxxx</a>


        </div>
    </div>
  </div>
